extends admin-layout
block content
    article.col-md-6
        h2 Subir nuevo Archivo
        hr
        if message
            div(role="alert").alert.alert-success
                strong=message
        form(action='/archivos',method='post',enctype='multipart/form-data')
            div.form-group
                label(for='nombre')=('Nombre')
                input(name='nombre',type='text').form-control

            div.form-group
                label(for='date_from')=('Fecha desde')
                input(name='date_from',type='text',id='datepicker').form-control

            div.form-group
                label(for='date_to')=('Fecha hasta')
                input(name='date_to',type='text',id='datepicker-b').form-control

            div.form-group
                label(for='file')=('Archivo (file)')
                input(name='file',type='file')

            div.form-group
                button(type='submit').btn.btn-primary
                    | Subir Archivo

    article.col-md-6
        h2 Listado de Archivos
        hr
        table.table.table-striped
            tr
                th= 'Nombre'
                th= 'Link'
                th= 'Activo desde'
                th= 'Activo hasta'
                th= ''

            each item in archivos
                tr
                    td= item.nombre
                    td
                        a(href="/uploaded/" + item.file)=item.file
                    td= item.date_from
                    td= item.date_to
                    td
                        if session=='retec-admin'
                            form(action='/archivos/del', method='post', id=item.id)
                                input(type='hidden', name='id', value=item.id)
                                a(onclick="deleteConfirmation('" + item.id + "');").glyphicon.glyphicon-remove.text-danger
                        endif
    script.
        function deleteConfirmation(id) 
        {
            if(confirm("Estas seguro que queres borrar este item?")) {
                document.getElementById(id).submit();
            }
        }