extends admin-layout
block content
	div(class="actions")
		button(type="button",class="btn btn-primary",id="admin-files")= "Subir nuevo archivo"
	article.col-md-12.list-all-folders
		each item in carpetas
			ul.list-group.A
				li(class="folder fold list-group-item")
					span(class="badge")= 14
					span= item.name
					ul.list-group.B
						each file in archivos
							if file.folder == item.folder
								li(class="file list-group-item")
									span(class="name")= file.nombre
									a(class="url", href='uploaded/'+file.file)
										span.glyphicon.glyphicon-download-alt
										span= file.file

	article.col-md-6.add-new-file
		h2 Subir nuevo Archivo
		hr
		if message
			div(role="alert").alert.alert-success
				strong=message
		form(action='/archivos',method='post',enctype='multipart/form-data')
			div.form-group
				label(for='nombre')=('Nombre')
				input(name='nombre',type='text').form-control

			div.form-group
				label(for='folder')=('Carpeta')
				select(name='folder').form-control
					each item in carpetas
						option(value=item.folder)= item.name

			div.form-group
				label(for='date_from')=('Fecha desde')
				input(name='date_from',type='text',id='datepicker').form-control

			div.form-group
				label(for='date_to')=('Fecha hasta')
				input(name='date_to',type='text',id='datepicker-b').form-control

			div.form-group
				label(for='file')=('Archivo (file)')
				input(name='file',type='file')

			div.form-group
				button(type='submit').btn.btn-primary
					| Subir Archivo

	article.col-md-6.list-all-files
		h2 Listado de Archivos
		hr
		table.table.table-striped
			tr
				th= 'Nombre'
				th= 'Link'
				th= 'Activo desde'
				th= 'Activo hasta'
				th= ''
				th= ''

			each item in archivos
				tr
					td= item.nombre
					td
						a(href="/uploaded/" + item.file)=item.file
					td= item.date_from
					td= item.date_to
					each name in carpetas
						if name.folder == item.folder
							td
								span(title=name.name,class="glyphicon glyphicon-folder-open")= ' '
					td
						if session=='retec-admin'
							form(action='/archivos/del', method='post', id=item.id)
								input(type='hidden', name='id', value=item.id)
								a(onclick="deleteConfirmation('" + item.id + "');").glyphicon.glyphicon-remove.text-danger
						endif
	script.
		function deleteConfirmation(id) 
		{
			if(confirm("Estas seguro que queres borrar este item?")) {
				document.getElementById(id).submit();
			}
		}